<!-- show the user's name -->
<div class="page-header">
  <h1>Dashboard</h1>
<h1>Hi, {{user.name}}!</h1>
</div>

<!-- create a new Blog Post -->
<div class="row">
    <div class="col">
        <h2>Create a new Blog Post</h2>
<!-- Use newBlogPostHandler from dashboard.js -->


        


    </div>
</div>


