<!-- show the user's name -->
<div class="page-header">
  <h1>Dashboard</h1>
<h1>Hi, {{user.name}}!</h1>
</div>

<!-- create a new Blog Post -->
<div class="row">
    <div class="col">
        <h2>Create a new Blog Post</h2>
<!-- Use newBlogPostHandler from dashboard.js -->
<form class="newBlogPostForm" action="/api/blogposts" method="POST">
    <div class="form-group">
        <label for="blog-title">Title</label>
        <input class="form-control" id="blog-title" name="blog-title" type="text" placeholder="Title">
    </div>



        


    </div>
</div>


