<!-- show all blogpost -->
{{#each blogposts as |blogpost|}}
    <div class="row mb-4 blogpost">
        <div class="col-12">
            <h2><a href="/blogpost/{{blogpost.id}}">{{blogpost.title}}</a></h2>
            <p>Created by {{blogpost.user.name}}</p>
            <p>Created on {{format_date blogpost.date_created}}</p>
        </div>
    </div>
{{/each}}