<!-- set up login.handlebars to connect to login.js -->
<div class="row">
  <div class="col-md-6">
    <h2>Login</h2>

    <form class="login">
      <div class="form-group">
        <label for="email-login">Email</label>
        <input class="form-control" id="email-login" name="username" type="text" placeholder="Email">
      </div>
      <div class="form-group">
        <label for="password-login">Password</label>
        <input class="form-control" id="password-login" name="password" type="password" placeholder="Password">
      </div>
      <button type="submit" class="btn btn-primary" id="login">Login</button>